@model Hrm.WebApp.Models.Position.CreateVModel
@{
    Layout = null;
    }

@using (Html.BeginForm())
{ 
    <div class="tr"><label>岗位名称：</label>@Html.TextBoxFor(o => o.PositionEntity.PositionName)</div>
}
