@model Hrm.WebApp.Models.Position.EditVModel
@{
    Layout = null;
    }
@using (Html.BeginForm())
{ 
    @Html.HiddenFor(o=>o.PositionEntity.PositionID)
    <div class="tr"><label>岗位名称：</label>@Html.TextBoxFor(o => o.PositionEntity.PositionName)</div>
}
